
.posts{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    width: 50%;
    height: 300px;
    margin-top: 50px;
    padding: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 50px auto;
    border: 5px dotted rgb(88, 169, 216);
    
}
ul{
    justify-content: center;
}

.posts button{
    width: 50%;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    
}